.login-main {
    background-color: #ECF1F3;
    border-radius: 10px;
    width: 654px;
    min-height: 425px;
    height: auto;
    position: absolute;
    top: 30%;
    left: 35%;
}
.login-content {
    padding: 50px 155px;
}
.login-content .login-top img {
    align-self: center;
}

.login-content .login-form {
    margin-top: 35px;
}
.login-content .text-start {
    margin-bottom: 30px;
}
.login-content .login-form input,
.login-content .login-form .btn-login {
    width: 345px;
    height: 45px;
}
.login-content .login-form input {
    border-radius: 10px;
    border: 1px solid #A5AFFB;
    box-sizing: border-box;
}
.login-content .login-form .btn-login {
    background: #61727B;
    border-radius: 43px!important;
    border: 1px solid #61727B;
}
.login-content .login-form .btn-login:hover {
    background-color: #fff;
    color: #61727B;
}

.login-content .password-group {
    position: relative;
}
.login-content .password-group .btn-toggle-password {
    position: absolute;
    right: 5px;
    top: 44%;
}
.login-content .password-group .hidden {
    display: none;
}
.login-content .password-group input {
    padding-right: 55px;
}
