.heading {
  display: flex;
  flex-direction: row;
}

.left-heading h2 {
  font-size: 22px;
  font-weight: 700;
  color: #333333;
}
.left-heading, .right-heading {
  width: 50%;
}

.right-heading {
  float: right;
  padding-right: 20px;
}
.right-heading .input-group {
  width: 300px;
  float: right;
  border: 1px solid #ECF1F3;
  border-radius: 5px;
}
.right-heading input, .right-heading .date .input-group-text {
  background-color: #f6f9fa;
  padding: 0.6rem 0.8rem;
  border: none;
}
.right-heading input:focus {
  background-color: #f6f9fa;
}
.content-info {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.content-info .top-info {
  color: #333333;
}
.content-info .top-info h3 {
  font-size: 16px;
  font-weight: 500;
}
.content-info .bottom-info {
  font-size: 22px;
  font-weight: bold;
}
#announcement-detail {
  .announcement-content {
    width: 429px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    .main-content {
      padding: 14px 15px;
      word-break: break-all;
      .announcement-text {
        white-space: pre;
        margin-top: 13px;
        background-color: #F6F9FA;
        border-radius: 8px;
        padding: 14px 15px;
        div {
          white-space:pre-wrap;
          white-space:-moz-pre-wrap;
          white-space:-pre-wrap;
          white-space:-o-pre-wrap;
          word-wrap:break-word;
        }
      }
    }
  }
  #edit-announcement-modal {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    &.show {
      display: block;
      padding-left: 0;
      transition: all .2s;
    }
    .modal-body {
      padding: 20px;
    }
    .dialog-edit-user {
      width: 400px;
    }
    input, textarea {
      color: #8B9DA5;
      border: 1px solid #ECF1F3;
      border-radius: 8px;
    }
    textarea {
      resize: none;
    }
    .detail {
      border: none;
      margin-top: 0;
    }
    .button-group button {
      width: 165px;
    }
    .input-group-text {
      background-color: #fff;
    }
    input[type="text"]:not(:last-child) {
      margin-top: 5px;
    }
    .modal-title {
      text-align: center;
      margin-top: 25px;
      font-weight: 500;
      font-size: 18px;
    }
    .modal-content {
      border-radius: 10px;
    }
  }
}
