.heading {
  display: flex;
  flex-direction: row;
}
.left-heading h2 {
  font-size: 22px;
  font-weight: 500;
}
.left-heading, .right-heading {
  width: 50%;
}

.main .right-heading {
  float: right;
  padding-right: 20px;
  margin-top: 0;
}

.content {
  width: 400px;
  margin: 20px auto 0 auto;
}

.avatar-image {
  margin-top: 20px;
}

.avatar-image img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 11px;
  border: 1px solid #c4c4c4;
}

.detail {
  border-top: 1px dashed #ECF1F3;
  margin-top: 20px;
  border-bottom: 1px dashed #ECF1F3;
  padding: 20px 0;
  word-break: break-all;
}

.detail-payment {
  margin-top: 20px;
}

.detail-payment a {
  color: #000;
  text-decoration: underline;
  font-weight: 600;
}

.detail-payment a:visited {
  color: #000;
  text-decoration: underline;
}

#edit-user-modal {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
#edit-user-modal .modal-body {
  padding: 20px;
}

#edit-user-modal .dialog-edit-user {
  width: 400px;
}
#edit-user-modal input {
  color: #8B9DA5;
}
#edit-user-modal input:disabled {
  background-color: #F6F9FA;
}
#edit-user-modal .detail {
  border: none;
  margin-top: 0;
}

#edit-user-modal .gender-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
}

#edit-user-modal .button-group button {
  width: 165px;
}

#edit-user-modal .input-group-text {
  background-color: #fff;
}
#edit-user-modal .date input {
  border-left: none;
}
#edit-user-modal input[type="text"]:not(:last-child) {
  margin-top: 5px;
}
#edit-user-modal.show {
  display: block;
  padding-left: 0;
  transition: all .2s;
}

.cover-image img {
  width: 375px;
  height: 200px;
}
#edit-user-modal .avatar-image img, #edit-user-modal .cover-image img {
  cursor: pointer;
}

.img-background {
  background: #C4C4C4;
}