.content {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}
.heading {
    display: flex;
    flex-direction: row;
}

.left-heading, .right-heading {
    width: 50%;
}

.right-heading {
    float: right;
}
.right-heading .input-group {
    width: 300px;
    float: right;
    border: 1px solid #ECF1F3;
    border-radius: 5px;
}
.right-heading input, .right-heading .date .input-group-text {
    background-color: #f6f9fa;
    padding: 0.6rem 0.8rem;
    border: none;
}
.right-heading input:focus {
    background-color: #f6f9fa;
}

.group-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.group-info .info-item {
    background-color: #fff;
    padding: 10px 20px;
    width: calc((100% - 40px) / 3);
    border-radius: 10px;
    text-align: left;
    font-weight: bold;
}
.group-info .info-item:not(:last-child) {
    margin-right: 20px;
}
.group-info .info-item .top-info {
    color: #333333;
    font-size: 16px;
}
.group-info .info-item .bottom-info {
    font-size: 22px;
}
.main .content {
    border-radius: 0;
}
.content .chart-title {
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

