.content-info-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content-info-group .content-info {
    width: calc((100% - 40px) / 3);
    text-align: center;
}
.content-info .top-info {
    font-weight: 500;
    color: #333333;
}
.content-info .bottom-info {
    font-weight: 700;
    color: #000000;
    font-size: 22px;
}
.content-info-group .content-info:not(:last-child) {
    margin-right: 20px;
}
